extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
  +alert-success(1500)
  +alert-error(2000)
  
  .container.my-2
    .row.justify-content-center 
      .col-8
          h2(class="mb-4" style="text-align: center") Đổi mật khẩu
          form(
            action=`/user/password/reset`
            method="POST"
          )
            div(class="form-group")
              label(for="password") Mật khẩu mới
              input(
                type="password"
                class="form-control"
                id="password"
                name="password"
                )

            div(class="form-group")
              label(for="confirmPassword") Xác nhận mật khẩu
              input(
                type="password" 
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                )

            div(class="form-group")
              button(
                type="submit"
                class="btn btn-primary btn-block"
              ) Đổi mật khẩu

          
              